.body-style{
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0; 
    padding: 0;
  }
  nav{
    display: flex;
    margin: 20px 120px;
  }
  .logo-style{
    width: 40px;
    height: 51px;
    padding-top: 4px;
  }
  nav ul{
    list-style: none;
    width: 477px;
    height: 60px;
    padding: 0;
    margin-left: 723px;
  }
  nav ul li{
    display: inline;
  }
  nav ul li a{
    text-decoration: none;
    color: #28224B;
  }
  #click-style{
    color: #35B8BE;
  }
  .nav-style{
    padding-left: 16px;
  }
  .basket-style{
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    background-color: #35B8BE;
    border-radius: 4px;
    padding-top: 3px;
  }
  .main-basket{
    width: 25px;
    height: 17px;
    padding-top: 19px;
    padding-left: 13px;
  }
  .counter{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: -6px;
    margin-left: 36px;
    background-color: #FFFFFF;
    color: #35B8BE;
    border-radius: 100px;
    box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }