footer{
    width: 100%;
    min-height: 593px;
    background-image: url('./img/IMAGE (6).png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }
  .footer-main{
    width: 1200px;
    height: auto;
    padding-top: 99.8px;
    padding-left: 120px;
  }
  .footer-main-1{
    height: 232px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
  }
  #footer-inf1{
    width: 584px;
    height: auto;
  }
  .logo-style-footer{
    width: 40px;
    height: 51px;
    padding-top: 0.2px;
  }
  #text-flogo1{
    width: 243px;
    height: 27px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    padding-top: 25px;
    margin: 0%;
    color: #546285;
  }
  #text-flogo2{
    width: 243px;
    height: 27px;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.36px;
    margin: 0%;
    color: #546285;
  }
  .footer-main-2{
    width: 189.3px;
  }
  .footer-main-2 ul{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin: 0%;
    list-style: none;
    text-transform: uppercase;
    color: #08090A;
  }
  .footer-main-2 ul li{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    padding-top: 28px;
    text-transform: none;
    white-space: nowrap;
    color: #546285;
  }
  .footer-main-2 a{
    text-decoration: none;
    color: inherit;
  }
  .line{
    height: 1px;
    margin-top: 99px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #7E828F17;
    opacity: 9%;
  }
  .maincopyright{
    display: flex;
    padding-top: 71px;
  }
  .footer-copyright{
    display: flex;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #353448;
  }
  .copyrighttext{
    color: #35B8BE;
  }
  .logocopyright{
    padding-left: 717px;
  }
  #logocopy1{
    padding-left: 12px;
  }
  #logocopy2{
    padding-left: 24px;
  }
  #logocopy3{
    padding-left: 24px;
  }
 