.body-style{
  background: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0; 
  padding: 0;
}
nav{
  display: flex;
  margin: 20px 120px;
}
.logo-style{
  width: 40px;
  height: 51px;
  padding-top: 4px;
}
nav ul{
  list-style: none;
  width: 477px;
  height: 60px;
  padding: 0;
  margin-left: 723px;
}
nav ul li{
  display: inline;
}
nav ul li a{
  text-decoration: none;
  color: #28224B;
}
#click-style{
  color: #35B8BE;
}
.nav-style{
  padding-left: 16px;
}
.basket-style{
  position: relative;
  width: 55px;
  height: 55px;
  display: flex;
  background-color: #35B8BE;
  border-radius: 4px;
  padding-top: 3px;
}
.main-basket{
  width: 25px;
  height: 17px;
  padding-top: 19px;
  padding-left: 13px;
}
.counter{
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: -6px;
  margin-left: 36px;
  background-color: #FFFFFF;
  color: #35B8BE;
  border-radius: 100px;
  box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  background-image: url('./img/IMAGE (4).png');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 820px;
  opacity: 87%;
}
.figure{
  padding-top: 100px;
  padding-left:  120px;
  display: flex;
}
.main-left{
  padding-top: 43.06px;
  width: 600px;
  height: auto;
}
#first-main-block{
  width: 606px;
  height: auto;
  margin: 0px;
  padding-top: 13.94px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1.8px;
  color: #08090A;
}
#second-main-block{
  width: 539px;
  height: auto;
  margin: 0px;
  padding-top: 27px;
  font-size: 18px;
  line-height: 24.12px;
  letter-spacing: 0.36px;
  color: #546285;
}
.main-button{
  width: 193px;
  height: 60px;
  margin-top: 53px;
  padding: 19px 35px;
  border: none;
  border-radius: 6px;
  background-color: #35B8BE;
}
.score-text{
padding-top: 30.06px;
}
.main-button p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0%;
  color: #FFFFFF;
}
.logo-score-text{
  display: flex;
  padding-top: 10px;
}
.logo-score{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #35B8BE;
  margin: 0%;
}
#third-main-block{
  margin: 0%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #08090A;
}
footer{
  width: 100%;
  height: 593px;
  background-image: url('./img/IMAGE (6).png');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}
.footer-main{
  width: 1200px;
  height: auto;
  padding-top: 99.8px;
  padding-left: 120px;
}
.footer-main-1{
  height: 232px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}
#footer-inf1{
  width: 584px;
  height: auto;
}
.logo-style-footer{
  width: 40px;
  height: 51px;
  padding-top: 0.2px;
}
#text-flogo1{
  width: 243px;
  height: 27px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  padding-top: 25px;
  margin: 0%;
  color: #546285;
}
#text-flogo2{
  width: 243px;
  height: 27px;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.36px;
  margin: 0%;
  color: #546285;
}
.footer-main-2{
  width: 189.3px;
}
.footer-main-2 ul{
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.5px;
  margin: 0%;
  list-style: none;
  text-transform: uppercase;
  color: #08090A;
}
.footer-main-2 ul li{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  padding-top: 28px;
  text-transform: none;
  white-space: nowrap;
  color: #546285;
}
.line{
  height: 1px;
  margin-top: 99px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: #7E828F17;
  opacity: 9%;
}
.maincopyright{
  display: flex;
  padding-top: 71px;
}
.footer-copyright{
  display: flex;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #353448;
}
.copyrighttext{
  color: #35B8BE;
}
.logocopyright{
  padding-left: 717px;
}
#logocopy1{
  padding-left: 12px;
}
#logocopy2{
  padding-left: 24px;
}
#logocopy3{
  padding-left: 24px;
}
.maininfmenu{
  background-image: url('./img/BG Shape Content.png');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  width: auto;
  height: 1336px;
  opacity: 87%;
}
.contentmenu{
  width: 1200px;
  height: 1056px;
  padding: 140.45px 120px;
}
.main-text-menu{
  width: 670px;
  height: 159px;
  margin-left: 265px;
  margin-bottom: 50.45px;
}
.main-text-menu-1{
  width: 442px;
  height: 55px;
  font-size: 50px;
  margin: 13.55px 114px;
  padding-left: 19px;
  text-align: center;
  line-height: 55px;
  letter-spacing: 1.65px;
  color: #35B8BE;
}
.main-text-menu-2{
  width: 466px;
  height: 54px;
  margin: 0px;
}
.main-text-menu-2{
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  text-align: center;
  padding-top: 26px;
  padding-left: 95px;
  color: #546285;
}
.filter-buttons{
  width: auto;
  height: 52px;
  margin-left: 362px;
}
.main-button-menu{
  width: 147px;
  height: 52px;
  margin-left: 30px;
  border: 1px;
  padding: 0px;
  border-radius: 6px;
  background-color: #61728333;
  opacity: 20%;
}
.main-button-menu-unique{
  width: 147px;
  height: 52px;
  border: 1px;
  border-radius: 6px;
  padding: 0px;
  background-color: #35B8BE;
}
.main-button-menu-unique p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0%;
  color: #FFFFFF;
}

.main-button-menu p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0%;
  color: #222222;
}
.buttons-with-list{
  width: 1200px;
  height: 752px;
}
.menu-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  list-style: none;
  margin-top: 40.45px;
  padding: 0.45px 10px;
}
.order-card{
  width: 580px;
  height: 200px;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  margin-right: 20px;
  margin-bottom: 20px;
}
.menu-item img{
  width: 120px;
  height: 120px;
  padding-top: 40px;
  padding-left: 26px;
}
.information-order{
  width: 378px;
  height: 147px;
  margin: 26.95px 30px;
}
.name-price{
  width: 378px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-price h2{
  margin: 8.05px 0px 0px;
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #08090A;
}
.name-price p{
  margin: 10.05px 0px 0px;
  font-weight:400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #35B8BE;
}
.description p{
  margin: 6.05px 0px 7.95px 0px;
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #08090A;
}
.buttons-with-counter{
  width: 378px;
  height: 45px;
}
.buttons-with-counter .counter_order{
  width: 60px;
  height: 45px;
  margin-top: 0.05px;
  padding: 0px;
  border-radius: 6px;
  border: 1px solid #DDDDDD;
  background-color: #FAFAFA;
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  text-align: center;
  color: #000000;
}
.buttons-with-counter .add-to-order{
  margin-left: 8px;
  width: 147px;
  height: 45px;
  margin-top: 0.05px;
  padding: 0px;
  border: none;
  border-radius: 6px;
  background-color: #35B8BE;
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  text-align: center;
  color: #FFFFFF;
}
.additional-order{
  width: 147px;
  height: 52px;
  margin-top: 44.55px;
  margin-left: 544px;
  padding: 0px;
  border: none;
  border-radius: 6px;
  background-color: #35B8BE;
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}
.hint_text {
  position: relative;
  cursor: pointer;
  color: #35B8BE;
}

.hovered-text {
  position: absolute;
  top: -30px;
  left: 0px;
  background-color: #546285;
  color: #DDDDDD;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 100;
}
